@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #C2DED1;
  color: #CDC2AE;
}

h1, h2 {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  color: #ECE5C7;
}

p {
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: rgb(237, 181, 11);
  font-weight: bold;
}

a:hover {
  color: rgba(237, 180, 11, 0.55);
}

.container {
  width: 700px;
  margin: 40px auto;
}

.card-blue {
  background-color: #354259;
  text-align: center;
  padding: 40px;
  margin: 18px 0;
  border-radius: 8px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
}

.image-circle {
  border-radius: 50%;
  width: 150px;
}

ul {
  display: block;
}

.list-inline {
  text-decoration: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
}

.social-icon {
  font-size: 34px;
  margin: 8px 24px;
  color: #CDC2AE;
}

.btn-cream {
  background-color: #CDC2AE;
  color: #354259;
  padding: 8px 16px;
  border-radius: 8px;
}

.btn-cream:hover {
  color: #0d2a5b;
  background-color: #ECE5C7;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

@media (max-width: 920px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 520px ) {
  .container {
    width: 350px;
  }
}
